{{#if controller.loading}}
	<div class="Loading">
		Loading...
	</div>
{{else}}
	<form action="#" class="Treesform form-inline">
		<div class="form-group">
    		<label for="minimumheight">Minimum Height:</label>
			{{input value=controller.minimumHeight class="form-control" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="minimumheight"}}
		</div>
		<div class="form-group">
			<label for="sort">Sort by:</label>
			{{view "select" content=sorts value=selectedSort id="sort" class="form-control"}}
		</div>
	</form>

	<table class="TreesTable table table-hover table-bordered">
		<thead>
			<tr>
				<th>Species</th>
				<th>Height (m)</th>
				<th>Circumference (cm)</th>
				<th>Age (yrs)</th>
				<th>Address</th>
				<th>Geo Location</th>
			</tr>
		</thead>
		<tbody>
			{{#each model as |tree|}}
				<tr>
					<td>{{tree.species}}</td>
					<td>{{tree.height}}</td>
					<td>{{tree.circumference}}</td>
					<td>{{tree.age}}</td>
					<td>{{tree.address}}</td>
					<td>
						<a href="https://www.google.com/maps/@{{tree.geolocalisation.x}},{{tree.geolocalisation.y}},20z">
								{{tree.geolocalisation.x}}x
								{{tree.geolocalisation.y}}y
						</a></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{/if}}